.sort-container {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    color: var(--text-muted);
    height: 2.5rem;
    width: 30rem;
    background-color: var(--bg-light);
    /* border: 1px solid var(--border); */
    border-radius: 2rem;
}

.sort-container img {
    margin-right: 1rem;
}

.sort-container select {
    margin-left: 1rem;
    outline: none;
    background-color: var(--bg);
    color: var(--text-muted);
    font-family: 'JetBrains Mono';
}