.dashboard-page {
    margin: 4rem 8rem;
    color: var(--text-muted);
    /* border: 1px solid red; */
    /* background-color: transparent; */
}

.dashboard__courses-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.progress-container {
    
    margin: 0;
    border-radius: 1rem ;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid var(--highlight);
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    background-color: var(--bg-light);
}

.progress-bar-fill {
    display: flex;
    align-items: center;
    height: 100%;   
    background-color: var(--secondary);
    color: var(--text);
}

.progress-text {
    margin-left: 2rem;
    color: var(--bg);
}

.dashboard-course-info {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50rem;
    margin: 2rem;
    border-right: 2px solid var(--highlight);
}

.dashboard-course-info > * {
    margin: 0;
}

.dashboard-course-card {
    position: relative;
    /* border: 1px solid red; */
    /* background-color: transparent; */
}

.dashboard-resume-btn {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    width: 100%;
}

.dashboard-resume-btn:hover {
    scale: 1;
}

.drop-course-btn {
    border: none;
    box-shadow: none;
    background-color: transparent;
    color: var(--danger);
    font-size: 1.2rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
}

.drop-course-btn:hover {
    background-color: transparent;
    scale: 1.05;
}