.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  /* border: 1px solid red; */
}

.bg-img {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.form-container {
  position: relative;
  z-index: 1000;
  border: 0.1rem solid var(--border);
  border-radius: 1.5rem;
  background-color: var(--bg);
  width: 40em;
  height: 32em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form {
  width: 33rem;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  opacity: 0;
  transform: translateY(-10%);
  animation: slide-in 1s 200ms forwards;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.line {
  background-color: var(--border-muted);
  height: 0.2rem;
  width: 100%;
}

.hide-icon {
  width: 1rem;
  height: 1rem;
  fill: var(--text);
}

.btn {
  width: 30%;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: var(--text);
}

.error-message {
  color: var(--secondary);
}
