.card {
  position: relative;
  width: 340px;
  height: 280px;
  border: #0000000a 1px solid;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 6px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
  padding: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 340px;
}

.comment {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-size: 18px;
  color: #000000;
  line-height: 1.45;
  letter-spacing: -0.05;
}

.author {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  height: 48px;
  bottom: 16px;
}