.leaderboard-page {
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  .leaderboard-page h1 {
    text-align: center;
    /* margin-bottom: 1.5rem; */
  }
  
  .leaderboard-table {
    color: var(--text);
    width: 100%;
    border-collapse: collapse;
    /* border-radius: 8px; */
    overflow: hidden;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .leaderboard-table th {
    font-weight: bold;
  }
  
  .leaderboard-table tr:nth-child(even) {
    background-color: var(--bg-light);
  }
  
  .leaderboard-table tr:hover {
    background-color: var(--secondary);
    color: var(--bg);
    cursor: default;
  }
  
  .leaderboard-table td:first-child {
    font-weight: bold;
  }
  
  .error {
    color: var(--danger);
    text-align: center;
    margin-top: 2rem;
  }
  
  .place, .score {
    font-size: 1.1em;
    font-weight: 700;
  }